.scalafmt.conf
.vscode/


# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
**/.bloop
.bsp/




.metals/
.ammonite/
metals.sbt
metals/project/


logs/*